*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #afafaf93;
    z-index: 100;

}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 80px;
}
header nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
}
header nav .logo span{
    color: goldenrod;
}
header nav .links{
    display: flex;
}
header nav .links li{
position: relative;
margin: 0 25px;
height: 80px;
line-height: 80px;
list-style: none;
}
header nav .links li::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: goldenrod;
    transition: 0.3s;
}
header nav .links li:hover::after,
    header nav .links li.active::after {
    width: 100%;
}
header nav .links li a{
    color :rgb(249, 248, 249);
    font-size: 17px;
    
}
header nav .social-links a i{
    color: goldenrod;
    font-size: 24px;
    margin-left: 15px;
}
header nav .social-links a i:hover{
color: #fff;
}
.hero-sec{
    height: 100vh;
    background: url(../image/backg.png);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}
.hero-sec .contanier{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}
.hero-sec .contanier .div-text{
    width: 50%;
}
.hero-sec .contanier .div-text h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 10px;

}
    .hero-sec .contanier .div-text span{
        font-size: 30px;
        color: goldenrod;
}
.hero-sec .contanier .div-text p{
    font-size: 18px;
    color: rgb(241, 240, 236);
    margin: 10px 0 50px;
    line-height: 1.5;
}
.hero-sec .contanier .div-text .btn{
color: #fff;
border: 1px solid goldenrod ;
background-color: goldenrod;
padding: 12px 30px ;
border-radius: 5px;
}
.hero-sec .contanier .div-text .btn:hover{
    background:transparent;
    transition: 0.6s ;
}
.hero-sec .contanier .div-img {
width: 33%;
position: absolute;
bottom: -10px;
right: 0;
}
.hero-sec .contanier .div-img img {
    width:100% ;
}
#btnMenu{
    display: none;
}
/* responsive */
@media (max-width : 980px) {
    header nav .links{
        position: absolute;
        top:100%;
        right: -420px;
        flex-direction: column;
        background-color: black;
        border-left: 1px solid #444444a8;
        width: 400px;
        height: 100vh;
        text-align: center;
        padding: 20px 0;
        transition: 0.7s;
    }
    header nav .links.active{
        right: 0;
    }
    .social-links{
        display: none;
    }
    #btnMenu{
        display: block;
        color: #fff;
        font-size: 30px;
    }
    .hero-sec{
        height: auto;
    }
    .hero-sec .contanier{
        flex-direction: column;
    }
    .hero-sec .contanier .div-text{
        width: 80%;
        margin-top: 150px;
        margin-bottom: 60px;
        text-align: center;
    }
    .hero-sec .contanier .div-img{
        position: relative;
        width: 50%;
    }
    .hero-sec .contanier .div-text h1{
        font-size: 50px;
    }
        .hero-sec .contanier .div-text span{
            font-size: 30px;
           
    }

}
@media (max-width : 450px) {
    .hero-sec .contanier .div-text h1{
        font-size: 35px;
    }
        .hero-sec .contanier .div-text span{
            font-size: 25px;
    }
    .hero-sec .contanier .div-text p{
        font-size: 16px;
    }
    .hero-sec .contanier .div-img{
        position: relative;
        width: 70%;
    }
}